<div class="container">
    <p class="alert alert-warning" *ngIf="errorMessage">Something went wrong!!</p>
    <h1>Welome!!</h1>
    <p>Welcome {{user}}!!</p>
    <p>You can manage your ToDos <a [routerLink]="'/todolist'">here</a></p>

</div>

<div class="container">
    <p>You can Customize your message here </p> 
    <button (click)="getMessageWithPathVariable()" class="btn btn-success">Customize</button>
</div>

<div class="container" *ngIf="customizedMessage">
    <h2>Your Customized message is here  </h2>
    <p>{{customizedMessage}}</p>
    
</div>